html{

}

body{
    margin: 0;
    background-color: #eee;
}

#root{
    width: 100%;
    min-height: 100vh;
}

.top{
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
    background-color: #111;
    padding-top: 20px;
}

.mid{
	margin: 80px auto;
	padding: 20px;
	width: 800px;
	/*border: 1px solid #000;*/
}

.list-inline{
	margin: 0;
}

.list-inline li{
	display: inline-block;
}

.main-menu a{
	padding: 18px 20px 19px 20px;
	text-decoration: none;
	color: #fff;
}

.main-menu li{
	box-sizing: border-box;
}

.main-menu a:visited{
	text-decoration: none;
}

.main-menu li.active{
	height: 40px;
	border-bottom: 4px solid #aaa;
}

.main-menu li a:hover{
	border-bottom: 4px solid #999;
}

.logo{
	padding: 0 20px;
	font-size: 30px;
	display: inline-block;
	float: left;
	margin-top: -10px;
	color: #fff;
}

.stream-block{
	margin: 10px;
	width: 180px;
	min-height: 300px;
	border: 0px solid #000;
	border-radius: 15px;
	float: left;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(10, 10, 20, 0.5);
	transition-property: box-shadow;
	transition-duration: 0.7s;
	cursor: pointer;
}

a.clean{
	color: #000;
	text-decoration: none;
}

a.clean:visited{
	color: #000;
	text-decoration: none;
}

.stream-block:hover{
	box-shadow: 0 0 10px rgba(34, 83, 208, 1);
}

.stream-block .image{
	width: 180px;
	height: 250px;
	background-size: 100% 100%;
}

.stream-block .category-name{
	padding-top: 7px;
    padding-left: 7px;
}

.stream-block .countViewers{
	padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    float: right;
    color: #808080;
    font-size: 12px;
}

.clean-after:after {
	content: "";
	display: block;
	clear: both;
}