html{

}

body{
    margin: 0;
    background-color: #eee;
}

#root{
    width: 100%;
    min-height: 100vh;
}

.top{
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
    background-color: #111;
    padding-top: 20px;
}

.mid{
	margin: 80px auto;
	padding: 20px;
	width: 800px;
	/*border: 1px solid #000;*/
}

.list-inline{
	margin: 0;
}

.list-inline li{
	display: inline-block;
}

.main-menu a{
	padding: 18px 20px 19px 20px;
	text-decoration: none;
	color: #fff;
}

.main-menu li{
	box-sizing: border-box;
}

.main-menu a:visited{
	text-decoration: none;
}

.main-menu li.active{
	height: 40px;
	border-bottom: 4px solid #aaa;
}

.main-menu li a:hover{
	border-bottom: 4px solid #999;
}

.logo{
	padding: 0 20px;
	font-size: 30px;
	display: inline-block;
	float: left;
	margin-top: -10px;
	color: #fff;
}