.mid{
	margin: 80px auto;
	padding: 20px;
	width: 1050px;
	/*border: 1px solid #000;*/
}

.stream-block{
	margin: 10px;
	width: 330px;
	min-height: 250px;
	border: 0px solid #000;
	border-radius: 15px;
	float: left;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(10, 10, 20, 0.5);
	transition-property: box-shadow;
	transition-duration: 0.7s;
	cursor: pointer;
	background-color: #fff;
}

a.clean{
	color: #000;
	text-decoration: none;
}

a.clean:visited{
	color: #000;
	text-decoration: none;
}

.stream-block:hover{
	box-shadow: 0 0 10px rgba(34, 83, 208, 1);
}


.image{
	width: 320px;
	height: 180px;
	background-size: 100% 100%;
	border-radius: 15px;
	margin: 5px
}

.stream-block .category-name{
	padding-top: 7px;
    padding-left: 7px;
}

.stream-block .countViewers{
	padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    float: right;
    color: #808080;
    font-size: 12px;
}

.clean-after:after {
	content: "";
	display: block;
	clear: both;
}