<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<title>_streams</title>
</head>
<body>
<div id="root">
	<nav class="top">
		<div class="logo">_streams</div>
		<ul class="list-inline main-menu" style="height: 60px">
			<li><a href="/">Главная</a></li>
			<li class="active"><a href="/">Категории</a></li>
			<li><a href="/">Трансляция</a></li>
		</ul>
	</nav>
	<div class="mid">
		<div class="clean-after">

			<div th:each="category : ${categories}">
				<div th:replace="fragments :: category-min(category=${category})"></div>
			</div>

		</div>
	</div>
	<div class="bot"></div>
</div>
</body>
</html>