<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main-menu.css">
    <th:block th:if="${page=='home'}">
        <link rel="stylesheet" href="/css/categories-page.css"/>
        <link rel="stylesheet" href="/css/translations-page.css"/>
        <link rel="stylesheet" href="/css/translation-page.css"/>
        <link rel="stylesheet" href="/css/home-page.css"/>
    </th:block>
    <th:block th:switch="${page}">
        <link th:case="categories" rel="stylesheet" href="/css/categories-page.css"/>
        <link th:case="translations" rel="stylesheet" href="/css/translations-page.css"/>
        <link th:case="translation" rel="stylesheet" href="/css/translation-page.css"/>
    </th:block>
    <title>_streams</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js'></script>
    <script type="text/javascript" src="/js/index-modal.js"></script>
</head>
<body>
<div id="root">

    <nav class="top">
        <div class="logo">_streams</div>
        <ul class="list-inline main-menu" style="height: 60px">
            <li th:class="${active_main}"><a href="/" >Главная</a></li>
            <li th:class="${active_categories}"><a href="/categories">Категории</a></li>
            <li th:class="${active_translations}"><a href="/translations">Список трансляций</a></li>
            <th:block sec:authorize="isAuthenticated()">
                <th:block th:if="${haveTranslation==true}">
                    <li th:class="${active_translation}"><a th:href="${myTranslationLink}">Трансляция</a></li>
                    <th:block th:if="${isHis==true}">
                        <th:block th:if="${page=='translation'}">
                            <li><a th:href="@{${myTranslationLink} + '/drop'}">Остановить трансляцию</a></li>
                            <li><a href="#iw-modal" class="iw-modal-btn">Ключ</a></li>
                        </th:block>
                    </th:block>
                </th:block>
                <th:block th:if="${haveTranslation==false}">
                    <li th:class="${active_translation}"><a href="#iw-modal" class="iw-modal-btn">Трансляция</a></li>
                </th:block>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <li th:class="${active_translation}"><a>Трансляция</a></li>
            </th:block>

        </ul>
        <div class="auth_button_area">
            <th:block sec:authorize="isAuthenticated()">
                <a href="/logout">Выход</a>
            </th:block>
            <th:block sec:authorize="isAnonymous()" >
                <a href="/login#register">Регистрация</a>
                <a href="/login">Авторизация</a>
            </th:block>
        </div>
    </nav>
    <div class="mid">
        <div th:if="${page=='home'}">
            <div th:replace="home-min :: home-min(translation=${translation}, categories=${categories}, translations=${translations})"></div>
        </div>
        <div th:if="${page=='translations'}">
            <div class="clean-after">
                <div th:replace="translations :: translations(translations=${translations})"></div>
            </div>
        </div>
        <div th:if="${page=='categories'}">
            <div class="clean-after">
                <div th:replace="categories :: categories(categories=${categories})"></div>
            </div>
        </div>
        <div th:if="${page=='translation'}">
            <div th:replace="translation-simple :: translation-simple(translations=${translation})"></div>
        </div>    
    </div>
    <div class="bot"></div>
    <th:block sec:authorize="isAuthenticated()">

        <th:block th:if="${haveTranslation==true}">
            <div id="iw-modal" class="iw-modal">
                <div class="iw-modal-wrapper">
                    <div class="iw-CSS-modal-inner">
                        <div class="iw-modal-header">
                            <h3 class="iw-modal-title">Приватный ключ трансляции</h3>
                            <a href="#close" title="Закрыть" class="iw-close">×</a>
                        </div>
                        <div class="iw-modal-text">
                            <p th:text="${key}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block th:if="${haveTranslation==false}">
            <div id="iw-modal" class="iw-modal">
                <div class="iw-modal-wrapper">
                    <div class="iw-CSS-modal-inner">
                        <div class="iw-modal-header">
                            <h3 class="iw-modal-title">Создание новой трансляции</h3>
                            <a href="#close" title="Закрыть" class="iw-close">×</a>
                        </div>
                        <div class="iw-modal-text">
                            <form action="/create/translation" method="POST">
                                <div class="form-group">
                                    <div class="field-name">
                                        <label for="translationName">Название трансляции</label>
                                    </div>
                                    <input type="text" id="translationName" name="translationName" required="required" style="width: 430px;"/>
                                </div>
                                <div class="form-group">
                                    <div class="field-name">
                                        <label for="category">Категория</label>
                                    </div>
                                    <select class="select" name="category" id="category">
                                        <th:block th:each="category : ${form_categories}">
                                            <option th:value="${category}" th:text="${category}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="field-name">
                                        <label for="description">Описание</label>
                                    </div>
                                    <textarea id="description" class="text" name="description" style="width: 430px; height: 200px;"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Создать трансляцию">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
</div>
</body>
</html>